body{ background-color: white; }

#header { background-color: white; }
 
#search {
background: url(../images/back_search.gif) right top no-repeat;
}

#outer-800 {
background: transparent url(../images/outer.gif) no-repeat top;
}

#outer-1024 {
background: url(../images/outer1024.gif) no-repeat 50% top;
}

#banner {

}

a, #search .inputbox, #search .button{
color: maroon;
}

div.module h3 { color: #06c; }
div.moduleyellow h3 { color: #06c; }
div.moduleblue h3 { color: #06c; }
div.modulered h3 { color: #06c; }
div.modulepurple h3 { color: #06c; }

ul#mainlevel-nav li{
	
}

ul#mainlevel-nav li a{

}


ul#mainlevel-nav li:hover, ul#mainlevel-nav li.sfhover {

}

ul#mainlevel-nav li:hover a, ul#mainlevel-nav li.sfhover a{

}

#maincol-normal-800 div.moduletable h3, #maincol-wide-800 div.moduletable h3, #maincol-broad-800 div.moduletable h3,#maincol-normal-1024 div.moduletable h3, #maincol-wide-1024 div.moduletable h3, #maincol-broad-1024 div.moduletable h3{
}

a.mainlevel {
color: maroon;
}

a.mainlevel#active_menu {
background-image: url(../images/main-a-active.gif); 
background-repeat: no-repeat; 
background-position: 0 center;
}

a.mainlevel:hover {
background-image: url(../images/main-a-hover.gif); 
background-repeat: no-repeat; 
background-position: 0 center;
}

a.sublevel {
color: #005E31;
}

a.sublevel#active_menu {
background-image: url(../images/main-a-active.gif); 
background-repeat: no-repeat; 
background-position: 0 center;
}

a.sublevel:hover {
background-image: url(../images/main-a-hover.gif); 
background-repeat: no-repeat; 
background-position: 0 center;
}

.contentheading {
border-bottom: 2px solid #f96;
color: #06c;
}

a.readon:hover {
background: #EEEEEE url(../images/readon.gif) no-repeat left;
}

a.readon {
background: url(../images/readon.gif) no-repeat left;
}

table.contentpane td.contentheading {
color: #06c;
}


table.contentpane ul li{
background: url(../images/readon2.gif) no-repeat left top;
}

.componentheading {
border-bottom: 1px solid #002e61;
color: #06c;
}

.blog_more ul li{
background: url(../images/readon.gif) no-repeat left;
}